# Bibliotecas:

In [11]:
import pandas as pd
import numpy as np
import math

Obtendo o Banco de Dados da COVID-19 no Brasil com informações de número de casos e mortos em cada cidade.

# Montagem de Drive:

In [3]:
from google.colab import drive
drive.mount('/content/drive')
path = "/content/drive/MyDrive/Colab Notebooks"

ModuleNotFoundError: No module named 'google.colab'

# Leitura dos Bancos de Dados:

In [7]:
dadosCovid = pd.read_csv("caso_full.csv.gz",index_col=False,header=None,squeeze=True,low_memory=False)
#Origem dos dados: https://brasil.io/dataset/covid19/files/

#Subset das informações mais relevantes sobre a vacinação.
dadosVacinacao = pd.read_csv("dadosVacinacao.zip",index_col=False,header=None,squeeze=True,low_memory=False)
#Fonte: https://coronavirus.saude.mg.gov.br/dadosabertos -  Sistemas Vacinação

In [8]:
display(dadosCovid.head(2))
display(dadosVacinacao.head(2))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
1,Rio Branco,1200401,2020-03-17,202012,413418,407319,False,False,3,0.72566,2020-03-17,0.0000,0,1,city,AC,3,0

,0,1,2,3,4,5,6,7
0,ID,faixa_etaria,sexo,municipio_res,macro,vacina_nome,data_aplicacao,dose
1,1,60 a 69 anos,MASCULINO,BELO HORIZONTE,CENTRO,CORONAVAC,2021-05-20,2ª Dose

# Parte 2 - *Data Prep*

## **1)** Como nossa análise se restringirá a MG, vamos selecionar apenas as informações dos municípios da referida UF.

In [9]:
dadosMG = dadosCovid[dadosCovid[15] == "MG"]

## **2)** Alteração de tipos de alguns atributos:

In [17]:
"""
  Como nós iremos fazer a soma de casos e mortes, esses valores precisam ser numéricos.
"""
dadosMG.loc[:,16] = pd.to_numeric(dadosMG.loc[:,16])
dadosMG.loc[:,17] = pd.to_numeric(dadosMG.loc[:,17])
display(dadosMG)
#Fonte: https://www.ti-enxame.com/pt/python/alterar-tipo-de-dados-de-colunas-em-pandas/1072113742/

c:\users\joao\appdata\local\programs\python\python39\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
627858,Divinópolis,3122306,2020-03-08,202011,240408,238230,False,False,1,0.41596,2020-03-08,0.0000,0,1,city,MG,1,0
627859,NaN,31,2020-03-08,202011,21292666,21168791,False,False,1,0.00470,2020-03-08,0.0000,0,1,state,MG,1,0
627860,Divinópolis,3122306,2020-03-09,202011,240408,238230,False,False,1,0.41596,2020-03-09,0.0000,0,2,city,MG,0,0
627861,NaN,31,2020-03-09,202011,21292666,21168791,False,False,1,0.00470,2020-03-09,0.0000,0,2,state,MG,0,0
627862,Divinópolis,3122306,2020-03-10,202011,240408,238230,False,False,1,0.41596,2020-03-10,0.0000,0,3,city,MG,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005150,Água Boa,3100609,2021-08-08,202132,13523,13735,False,True,511,3778.74732,2021-06-18,0.0137,7,408,city,MG,0,0
1005151,Água Comprida,3100708,2021-08-08,202132,1992,1999,False,True,169,8483.93574,2021-06-18,0.0473,8,436,city,MG,0,0
1005152,Águas Formosas,3100906,2021-08-08,202132,19247,19207,False,True,899,4670.85780,2021-06-18,0.0345,31,431,city,MG,0,0
1005153,Águas Vermelhas,3101003,2021-08-08,202132,13599,13539,False,True,402,2956.09971,2021-06-18,0.0174,7,446,city,MG,0,0
1005154,NaN,31,2021-08-08,202132,21292666,21168791,True,False,1997875,9382.92556,2021-08-08,0.0257,51317,519,state,MG,2189,101

## **3)** Verificando os valores nulos e *NaN*'s e tratando-os:

In [14]:
dadosMG_1 = dadosMG.isna()
dadosMG_2 = dadosMG.isnull()
total_na = dadosMG_1.sum().sum()
total_null = dadosMG_2.sum().sum()
print(total_na)
print(total_null)
#Não há dados nulos para o BD de casos e óbitos.

dadosVacinacao_1 = dadosVacinacao.isna()
dadosVacinacao_2 = dadosVacinacao.isnull()
total_na_1 = dadosVacinacao_1.sum().sum()
total_null_1 = dadosVacinacao_2.sum().sum()
#print(total_na_1)
#print(total_null_1)
#display(dadosVacinacao[dadosVacinacao["faixa_etaria"].isna()])

8014
8014

Escolhendo uma cidade específica para conhecer melhor algumas informações do dataset.

In [ ]:
cidade = "Florestal"
dadosCidade = dadosMG[dadosMG[0] == cidade]
display(dadosCidade)

                0        1           2       3     4   ...   13    14  15 16 17
638502   Florestal  3126000  2020-05-25  202022  7533  ...    1  city  MG  1  0
638905   Florestal  3126000  2020-05-26  202022  7533  ...    2  city  MG  0  0
639318   Florestal  3126000  2020-05-27  202022  7533  ...    3  city  MG  0  0
639744   Florestal  3126000  2020-05-28  202022  7533  ...    4  city  MG  1  0
640182   Florestal  3126000  2020-05-29  202022  7533  ...    5  city  MG  0  0
...            ...      ...         ...     ...   ...  ...  ...   ...  .. .. ..
1001165  Florestal  3126000  2021-08-04  202131  7533  ...  437  city  MG  0  0
1002020  Florestal  3126000  2021-08-05  202131  7533  ...  438  city  MG  0  0
1002875  Florestal  3126000  2021-08-06  202131  7533  ...  439  city  MG  0  0
1003730  Florestal  3126000  2021-08-07  202131  7533  ...  440  city  MG  0  0
1004585  Florestal  3126000  2021-08-08  202132  7533  ...  441  city  MG  0  0

[441 rows x 18 columns]

In [ ]:
TotalCasos = dadosCidade[16].sum()
TotalObitos = dadosCidade[17].sum()
#Fonte: https://www.delftstack.com/pt/howto/python-pandas/how-to-get-the-sum-of-pandas-column/
print(f"Total de casos em {cidade} é {TotalCasos}")
print(f"Total de óbitos em {cidade} é {TotalObitos}")

Total de casos em Florestal é 288
Total de óbitos em Florestal é 12